<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

</head>
<body>

    <div class="flash-message" id="flash-message"></div>

    <main>
        <section class="topics">
            <h1>Topics</h1>   
            <div class="topics--wrapper">
                {{ range .data}}
                    <div class="card">
                        {{ if ne .Name ""}} <p class="topics--card__name"> {{ .Name}} </p>   {{end}}
                        {{ if ne .Tags ""}}  <p class="topics--card__tags"><span class="span--subtitle">Tags:</span> {{ .Tags}} </p>  {{end}}
                        {{ if ne .Comment ""}} <p class="topics--card__comment"> <span class="span--subtitle">Comments:</span> {{ .Comment}} </p> {{ end }}
                        {{ if ne .Description ""}} <p class="topics--card__description"><span class="span--subtitle">Description:</span> {{ .Description}}</p>  {{end}}    
                        <a href="/topic/{{.ID}}" class="topics--card__link">Expand</a>
                    </div>
                {{ end}}
            </div>
        </section>

        <section class="control--panel">

            <div class="container">
                <div class="control--panel__addflash">
                
                <button class="add--flashcard"><i class="material-icons">add</i> Add Flash Card</button>
                <button class="remove--flashcard" id="selectButton"><i class="material-icons">remove</i> Remove Flash Card</button>
            </div>

            <form id="jsonForm" class="control--panel__addmenu hidden">
                <input type="text" name="name" id="name" placeholder="Name of Topic">
                <input type="text" name="tags" id="tags" placeholder="tags of Topic">
                <input type="text" name="comment" id="comments" placeholder="comments of Topic">
                <input type="text" name="description" id="description" placeholder="description of Topic">

                <button class="add--flashcard__action">Adicionar</button>
            </form>
            </div>

        </section>
    </main>

    <script> 
        const addFlashCard = document.querySelector(".add--flashcard")
        const addMenu = document.querySelector(".control--panel__addmenu")

        addFlashCard.addEventListener("click", function(e) {
                addMenu.classList.toggle("hidden")
                addFlashCard.classList.toggle("active")
                if (addFlashCard.classList.contains("active")) {
                    addFlashCard.innerHTML = `<i class="material-icons">remove</i> Close Menu`
                } else {
                    addFlashCard.innerHTML = `<i class="material-icons">add</i> Add Flash Card`
                }
                console.log(addFlashCard.innerHTML)
            })

        const addActionBtn = document.querySelector(".add--flashcard__action")
        addActionBtn.addEventListener("click", e => {
            e.preventDefault();
            e.stopPropagation();

            submitJsonForm();
        })

        function submitJsonForm() {
            const form = document.getElementById('jsonForm');
            const formData = new FormData(form);

            const jsonData = {};
            formData.forEach((value, key) => {
                jsonData[key] = value;
            });

            fetch('/api/v1/study_case', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(jsonData),
            })
            .then(result => {
                if (result.redirected) {
                    window.location.replace(result.url)
                } 

                if (result.statusText == 'Bad Request') {
                    showFlashMessage("Possibily values empty or you trying to duplicate a existing topic", 5000)
                }

            })
            .catch(error => {
                console.error('Error:', error);
            });

        }

        function showFlashMessage(message, timeout = 10000) {
            const flashMessage = document.getElementById('flash-message');
            flashMessage.textContent = message;
            flashMessage.style.display = 'block';

            setTimeout(() => {
                flashMessage.style.display = 'none';
            }, timeout);
        }

    </script>   
    
</body>
</html>