<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Roboto:wght@700&display=swap" rel="stylesheet">

</head>
<body>


    <main>
        <section class="topics">
            <h1>Topics</h1>   
            <div class="topics--wrapper">
                {{ range .topics}}
                <div class="card">
                    {{ if ne .Name ""}} <p class="topics--card__name"> {{ .Name}} </p>   {{end}}
                    {{ if ne .Tags ""}}  <p class="topics--card__tags"><span class="span--subtitle">Tags:</span> {{ .Tags}} </p>  {{end}}
                    {{ if ne .Comment ""}} <p class="topics--card__comment"> <span class="span--subtitle">Comments:</span> {{ .Comment}} </p> {{ end }}
                    {{ if ne .Description ""}} <p class="topics--card__description"><span class="span--subtitle">Description:</span> {{ .Description}}</p>  {{end}}    
                    <button class="topics--card__link">Expand</button>
                </div>
            {{ end}}
            </div>
        </section>
    </main>
    
</body>
</html>